.nav {
    &__logo{
        letter-spacing: .3rem;
        color: #c5c6c7;
    }
    &__link{
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
            color: #66fcf1;
        }
    }
    &__menu{
        display: none;

        @media(min-width: 768px){
            display: block;
        }

        &-mobile{
            @media(min-width: 768px){
                display: none;
            }
        }
    }
}